HELP.md
.gradle
build/
**/build/
!**/src/main/**/build/
!**/src/test/**/build/

# Gradle wrapper 예외 처리
!gradle/wrapper/gradle-wrapper.jar
!gradle-wrapper.jar
!gradle-wrapper.properties

# Gradle 캐시
.gradletasknamecache

# Gradle GUI 설정
gradle-app.setting

# Eclipse 관련
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
.nb-gradle/

# VS Code
.vscode/

# DS_store
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

# Local-specific configurations
application-local.yaml